
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Product Sans';
    src: url('../Fonts/ProductSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url('../Fonts/ProductSansBold.ttf') format('truetype');
} */
